
body {
  background-color: #E8ECEF;
  z-index: -1;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.leave-request {
  text-align: left;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  background-color: #E8ECEF;
}
.photo{
      display: contents;
}

.message{
  text-align: center;
  margin-top: 2rem;
}

.name{
  position: relative;
  display: inline;
}

.date {
  width: 11rem;
}

.top{
  margin-left: 1rem;
}

.middle{
  margin-left: 1rem;
}

.bottom{
  padding-top: 3rem;
  margin-left: 1rem;
}

.right{
  background-color:#D0D0D0;
}


.Heading{
  display: inline;
}

.alert-card{
  margin: 3rem;
}

.start-label{
  margin-top: auto;
}

.Headingdate{
  display: inline;
}

.leave-counter{
  margin-top: 1.50rem;
  background-color: #7C99AC;
  width: 50%;
  border-radius: 1.875rem;
  padding: 0.125rem;
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  justify-items: center;

}


.count-text{
  font-weight: 500;
  font-size: 1.4rem;
}
