
body {
  background-color: #E8ECEF;
  z-index: -1;
}


.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.leave-request {
  text-align: left;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  background-color: #E8ECEF;
}
.photo{
      display: contents;
}

.name{
  position: relative;
  display: inline;
}

.date {
  width: 11rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.top{
  margin-left: 1rem;
}

.middle{
  margin-left: 1rem;
}

.bottom{
  padding-top: 3rem;
  margin-left: 1rem;
}

.right{
  background-color:#D0D0D0;
  text-align: center;
}


.Heading{
  display: inline;
}

.alert-card{
  margin: 3rem;
}

.start-label{
  margin-top: auto;
}

.Headingdate{
  display: inline;
}

.leave-counter{
  margin-top: 1.50rem;
  background-color: #7C99AC;
  width: 50%;
  border-radius: 1.875rem;
  padding: 0.125rem;
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  justify-items: center;

}


.count-text{
  font-weight: 500;
  font-size: 1.4rem;
}

.message{
  text-align: center;
  margin-top: 2rem;
}

.navbar{
  margin:.2rem;
}

.sidebar{
  height: 100vh;
  width: 12rem;
  background-color: #454545;
  text-align: center;
  margin:.2rem;
}

.sidebars{
  height: 100vh;
  width: 12rem;
  background-color: #454545;
  text-align: center;
  margin:.2rem;
}

.logoutbtn{
  margin-right: 2rem;
}

.company{
  margin-left: 2rem;
}

.mainsection{
  height:100vh;
  width: 60rem;
  margin-left: .2rem;
}

.anchor, .anchor:active, .anchor:visited { color: white ;
  font-size: 1.25rem;
  text-decoration: none;
}

.anchor:hover{
  color: #FFD68A;
}

.buttons{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logs{
  margin-top: 5rem;
  padding-top: 5rem;
  padding-left: 2rem;
  background-color:aliceblue;
}



